.navLeadpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marginLeftRight {
    margin-left: 10vh;
    margin-right: 10vh;
}

.marginCenter {
    margin: 80px 100px;   
}

.btnConheca {
    background-color: #44c2f0;
    padding: 12px;
    border-radius: 15px;
}