/* ESTILO PARA A PÁGINA DE BUSCA */

.navFilter {
    display: none;
    background-color: #c4dce6;
    height: 21px;
    width: 100%;
}

.navFilter p {
    padding-left: 10px;
    cursor: pointer;
}

@media (min-width: 750px) {
    .navFilter {
        display: flex; 
    }
}

#menuBodyMobileSearch {
    display: flex;
    position: absolute;
    flex-direction: row;
    bottom: 10px;
    gap: 55px;
    left: 15%;
}

#bodyFeedSearch {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 490px;
    width: 50%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 750px) {
    #bodyFeedSearch {
        height: 790px;
        width: 98%;
    }
}

.borderMain {
    margin-right: 60px;
    margin-left: 60px;
}

@media (max-width: 650px) {
    .borderMain {
        margin-right: 0px;
        margin-left: 10px;
    }
}

#bodyInputSearch {
    width: 400px;
    height: 30px;
    padding: 10px 5px 8px 10px;
    border: 0.5px black solid;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}