* {
   margin: 0;
   padding: 0;
}

/* 
   Classes reciclaveis 
   Obs: Não consegui usar algumas classes do
   TailwindCSS e tive que criar essas classes
*/

/* Paddings */

.p-5 { padding: 5px; }
.p-15 { padding: 15px; }

.pt-10 { padding-top: 10px; }
.pt-40 { padding-top: 40px; }
.pt-30 { padding-top: 30px; }
.pt-50 { padding-top: 50px; }

.pr-5 { padding-right: 5px; }
.pr-8 { padding-right: 8px; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pr-25 { padding-right: 25px; }
.pr-30 { padding-right: 30px; }

.pl-5 { padding-left: 5px; }
.pl-8 { padding-left: 8px; }
.pl-10 { padding-left: 10px; }
.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-25 { padding-left: 25px; }
.pl-30 { padding-left: 30px; }
.pl-35 { padding-left: 35px; }


/* Margins */

/* Margin especifico para a tag main */
.borderMain {
   margin-right: 60px;
   margin-left: 60px;
}

@media (max-width: 650px) {
   .borderMain {
      margin-right: 0px;
      margin-left: 40px;
   }
}

/* Size */

.size-img-icon {
   width: 50px;
}

/* Redimensionamento de classes */

/* Redimensiona a classe para 30px após antepassar 750px da tela */
@media (max-width: 750px) {
   .mx-30-main {
      margin-right: 30px;
      margin-left: 30px;
   }
}

/* Regras personalizaveis */

/* Menu superior para desktop */
/* Este bloco defini a fixação do nav no topo da tela */
.nav-between {
   display: flex;
   background-color: rgb(255, 255, 255);
   border-color: black;
   justify-content: space-between;
   position: sticky;
   top: 0;
}

@media (min-width: 900px) {
   .nav-between {
      padding: 0px 50px 0px 50px;
   }
}

/* Menu inferior para mobile */
.menuMobile {
   display: flex;
   position: fixed;
   height: 40px;
   bottom: 0.1px;
   width: 100%;
   gap: 50px;
   z-index: 999;
   background-color: #A2DCF2;
}

@media (min-width: 750px) {
   .menuMobile {
      display: none;
   }
}

.imgMenu {
   background-color: #A2DCF2;
   border-radius: 50px;
}

.inputSearch {
   border: 2px;
   border-radius: 3.2px;
   border-style: solid;
   border-color: white white rgba(0, 0, 0, 0.473) white;
}


.modal {
   padding: 15px;
   border: 1.5px solid rgba(0, 0, 0, 0.3);
}

.headerPost {
   display: flex;
   flex-direction: row;
}

.imgPerfilPost {
   width: 30px;
   height: 30px;
   margin-right: 5px;
}

.spacer {
   margin: 10px 0px 10px 0px;
   border: 1px solid;
}

.spacerHorizontal {
   border: solid 0.1px;
   margin: 3px 0px 3px 12px;
}

.buttomInfoVaga {
   cursor: pointer;
   padding: 2px 2px 2px 2px;
   border-radius: 8px;
   color: black;
   background-color: #A2DCF2;
}

.buttomAddFrind {
   display: flex;
   height: 25px;
   cursor: pointer;
   background-color: #A2DCF2;

   img {
      width: 23px;
   }
}
